.contact-form {
  grid-column: 1/ span 12;
  place-self: center;
  max-width: 40rem;
  @include flex(center, column);
}

// label {
//   grid-column: 2 / span 4;
//   justify-self: start;
// }

.form__label {
  margin-top: ($rhythm-unit*1);
}
// }
// .contact-preference {
//   grid-column: 2 / span 4;
//   justify-self: start;
// }
//
//  #contact-preference{
//    grid-column: 2 / span 4;
//  }
[type=text], [type=email], [type=tel] {
    max-width: 20em;
}

.contact__radios {
  @include flex(space-around);
}

.form__text-box {
  border: 1px solid $dark-blue;
  border-radius: 2px;
  padding: (.25*$ru);

}

#message {
  height: (6*$ru);
  max-width: 30em;
}
//
[type=submit] {
 width: 6rem;
 margin: 1rem;
 align-self: flex-end;
 padding: (.25*$ru);
 border: solid 1px #ccc;
  border-radius: 5px;
  color: #fff;
 background-image: linear-gradient(#5187c4, #1c2f45);
 background-size: auto 200%;
 background-position: 0 100%;
 transition: background-position 0.5s;
}
[type=submit]:hover {
 /* shift background gradient position */
 background-position: 0 0;
}
