.contact-container {
	// grid-column: 9 / span 3;
	// margin-top: .5rem;
  text-align: right;
  	@include flex(center, column, flex-end);
    display: inline-block;
    margin-bottom: (2*$ru);
    @include max-width(500px){
    margin-left: auto;
    text-align: left;
    }
}
.contact-details {
	//	line-height: 1rem;
	//	font-size: 1rem;
		margin: 0;
		padding: 0;
}
.icon {
	color: $light-text;
}
