.list {
  width: 100%;
  @include flex(center, column, flex-start);
  dl, ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
    max-width: 23rem;
  }
  dt {
    text-align: left;
    text-decoration: underline;
  }
  dd {
    margin-bottom: ($rhythm-unit*1);
    text-align: center;
    margin-left: 0;
  }
}

.list-header {
  margin-bottom: ($ru*.5);
}
