.text-block {
    @include flex(center, column);
    max-width: 33em;
}

.text-block--center{
    max-width: 33em;
}

.text-block--left {
  grid-column: 2 / span 6;
    grid-row: span 2;
    max-width: 30em;
    justify-self: end;
    padding-right: 1rem;
    @include single-column;
}

.text-block--right {
  grid-column: 6 / span 6;
    grid-row: span 2;
    max-width: 30em;
    justify-self: start;
    padding-left: 1rem;
   @include single-column;
}
