.video {
  margin: 0 auto;
  margin-top: 4em;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  @include aup-shadow(box, $dark-blue, 2, 3);
  iframe {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @include max-width(750px){
    grid-column: 2 / span 10;
  }
}


/* taken from the last website css- idk if any of this is needed but saving in @charset ".video-container {
	margin-top: 1rem;
	grid-column: 3 / span 4;
	grid-row: 3;
	justify-self: center;
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
		iframe {
			position:absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
}";
*/
