@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;

}

@mixin horizontal-list {
  display: flex;
  
  li:not(:first-child) {
//    margin-left: 1em;
    // margin: {
    //   left: -2px;
    //   right: 2em;
    // }
  }

  // li:not(:last-child) {
  //   margin-right: 1em;
  // }

}

@mixin pseudo-setup {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

@mixin text-outline($color, $shadow: null) {
  text-shadow: 1px 1px 1px $color, 0px 1px 1px $color, 1px 0px 1px $color,
  0px 0px 1px $color, 0px -1px 1px $color, -1px 0px 1px $color,
  -1px 1px 1px $color, 1px -1px 1px $color, $shadow;
}

@mixin text-shadow-lvl-2-2{
  text-shadow: 0px 3px 1px rgba($dark-blue, (2*$umbra-opacity)),
               0px 2px 2px rgba($dark-blue, (2*$penumbra-opacity)),
               0px 1px 5px rgba($dark-blue, (2*$ambient-opacity));
}

@mixin grid($columns: 12){
  display: grid;
  grid-auto-rows: minmax($rhythm-unit, auto);
  grid-gap: ($rhythm-unit*.5);
  grid-template-columns: repeat($columns, 1fr);
}

@mixin flex($justify: flex-start, $direction: row, $align-items: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align-items;
}

@mixin section{
  width: 100%;
  p {
  //  margin: 0;
  }
}

@mixin dark-scheme{
  background-color: $darkest-blue;
  color: $light-text;

}

@mixin light-scheme{
  background-color: $light-bg;
    color: $dark-blue;
}

@mixin aup-shadow($type, $color, $strength, $a, $u: $a, $p: $u){
  #{$type}-shadow: #{map-get($ambient-map, $a)} rgba($color, ($strength*$ambient-opacity)),
              #{map-get($umbra-map, $u)} rgba($color, ($strength*$umbra-opacity)),
              #{map-get($penumbra-map, $p)} rgba($color, ($strength*$penumbra-opacity));
}

@mixin max-width($max-width){
  @media screen and (max-width: $max-width) {
  @content; }
}

@mixin single-column($content-type: ""){
   @media screen and (max-width: 900px){
     grid-column: 2 / span 10;
     place-self: center;
  @if $content-type == text {
    max-width: 40em;
  }
  @content;
  }

}
