.content {
  grid-column: 3 / span 8;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include max-width(900px){
    grid-column: 2 / span 10;
  }

  @include max-width(450px){
    grid-column: 1 / span 12;
    margin: 0 10px
  }
}