nav {
  ul {
    @include reset-list;
  }
}
// .blend {
//   mix-blend-mode: luminosity;
//   position: relative;
//   overflow: visible;
//   z-index: 2000;
// }
.svg{
  position: fixed;
}
.hidden {
  visibility: hidden;
}
.float-left {
  display: inline-block;
  float: left;
}
.top-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 200;
  font-family: $title-font;
  font-size: 1.25rem;
  color: white;
  //margin-top: ($ru*.25);
  top: 0;
  right: 0;
  position: fixed;
  padding: .5rem 0 .5rem 2rem;
//  border-bottom-left-radius: 20px;
    transition: background-color .3s;
    min-height: (1*$ru);
    height: auto;
    overflow: visible;
    @include max-width(700px){
      display: none;
    }
}

.inline-block {
  display: inline-block;
}
.top-nav__header {
  opacity: 0;
  overflow: hidden;
  transition: opacity;
  transition-delay: .5s;
  position: relative;
  p {
    margin: 0 0 0 .5em;
    overflow: hidden;

  }
  z-index: 5;
  }
.top-nav__title {
  float: left;
  opacity: 0;
   transition: opacity .1s;
  // transition-delay: .4s;
  font-family: $title-font;
  letter-spacing: .07em;
  z-index: 1;
}

  .colour-block {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500%;
    background: $colour-blue;
    background: linear-gradient(0deg, rgba($colour-blue,0) 0%, rgba($colour-blue,1) 80%, rgba($colour-blue,1) 100%);
    // background: rgb(109,152,182);
    // background: linear-gradient(0deg, rgba(109,152,182,0) 0%, rgba(109,152,182,1) 80%, rgba(109,152,182,1) 100%);
    transition-property: top;
    transition-delay: .5s;
    transition-duration: 1s;
  z-index: 40;
  }
  // p::before {
  //     visibility: hidden;
  //     content: "Captain Jim Bourbon's Tarpon Fishing in the Florida Keys";
  //     position: absolute;
  //     z-index: -2;
  //     left: 0;
  //     width: 100%;
  //     padding-left: 99%;
  // }



.main-nav__list {
  display: inline-flex;
  position: absolute;
  top: 0;
  margin-left: auto;
  z-index: 50;
 ul{
   margin: auto 0;
   float: right;
     @include horizontal-list;
   }
  //display: flex;
//  align-items: flex-end;
  //height: auto;

  li a {
    position: relative;
    letter-spacing: .1em;

  }
  li a::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0%;
    height: 1em;
    //right: -.2em;
    bottom: -.1em;
    background: $bright-blue;
    z-index: -1;
    transition: .2s;
  }
    li a:hover::before {
    width: 100%;
  }
  @include max-width(700px){
  visibility: hidden;
 }
}

.top-nav--scrolled {
  background-color: #06227d;
  //rgba($colour-sky, 1);
  justify-content: space-between;
    @include aup-shadow(box, $dark-blue, 2, 6);
}
.top-nav__header--scrolled {
  opacity: 1;
}
.top-nav__title--scrolled {

  opacity: 1;

}
.main-nav__list--scrolled {
  position: relative;
  top: auto;

}
.colour-block--scrolled {
  top: -500%;
  // transition-property: opacity, top;
  // transition-delay: .3s, .5s;
  // transition-duration: 0s, .5s;
}
// .main-nav::before {
//   content: "";
//   background-color: rgba(0,205,238,1.0);
// //  mix-blend-mode: screen;
//   width: 110%;
//   height: 120%;
//   position: absolute;
//   left: -10%;
//   height: -20%;
// }
