.mobile-nav {
  //background-color: $colour-blue;
  font-family: $body-font;
  color: $light-text;
  font-size: 1.25em;
  visibility: hidden;
  overflow: visible;
  position: fixed;
  top: 0;
  right: 0;
  width: 4rem;
  //height: 4rem;
  display: flex;
  flex-direction: column;
    align-items: flex-end;
  //align-items: flex-end;
  z-index: 30000;
  border-radius: 50%;
  transition: 0.7s ease-in-out;

  ul {
    @include flex(space-between, column);
    li
    {padding: .5rem 1rem;
    }
  }
  @include max-width(750px){
  visibility: visible;
}
}
.mobile-nav__bar {
    width: 100%;
//      border-bottom-left-radius: 20px;
      position: relative;
      display: none;
      justify-content: space-between;
      overflow: hidden;
      transition: 0.7s ease-in-out, border-bottom-left-radius .3s;

        background-color: $dark-shade;
        @include max-width(750px){
        display: flex;
      }
}
.mobile-nav__title {
  float: left;
  //position: absolute;

  width: auto;
  //left: 0;
  max-height: 0;
  display: inline-flex;
  visibility: hidden;
  //color: $colour-blue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0;
  transition: opacity .7s .5s, max-height .0s .5s;
  overflow: hidden;
  z-index: 0;
  p {
    margin: 0 auto 0 .5rem;
    font-size: .8rem;
  }
}
.nav-icon {
  font-size: 2rem;
  display: inline-block;
  margin: auto;
  width: 100%;
  height: 100%;
  //padding: .5rem 1rem;

}
.nav-icons {
 @include flex(center);
  position: relative;
  align-items: center;
  min-width: 60px;
  a {
    max-width: 5rem;
    width: 100%;
    padding: (.5*$ru) 1rem;
    margin: auto;
  }
}
#open {
  display: inline-block;
}
#close {
  display: none;
}
#mobileNavMenu {
    background-color: $dark-shade;
   max-height: 0;
  // max-width: 3rem;
 //  width: 3rem;
  overflow: hidden;
  padding: 0 10px;
  transition: 0.7s ease-in-out .4s, max-width .7s .8s;
}

.mobile-nav__menu {
  height: 100%;
  width: 100%;
}

.mobile-nav__menu--open {
 // height: ($ru*4);


}

.mobile-nav--scrolled {
  width: 100%;

  border-bottom-left-radius: 0;
}

.mobile-nav__bar--scrolled {
    width: 100%;

}

.nav-bar--open {
  border-bottom-left-radius: 0;
}

.nav-bar--closed {
  border-bottom-left-radius: 20px;
}
