.section--flex {
  @include section;
  @include flex(center);
}
.section--grid {
  @include section;
  @include grid;
  > h2, h3 {
    grid-column: span 12;
    justify-self: center;
  }
  > p, dl {

    justify-self: center;
  }
}
.section--main {
  padding: ($rhythm-unit*5) 0 ($rhythm-unit*10);
  > p, dl {

    justify-self: center;
  }
}
.subsection{

    margin-top: ($rhythm-unit*2.5);
}
.section__text {
  @include flex(center, column);
  p {
    max-width: 30em;
  }
}
.section--dark {
  background-color: $darkest-blue;
  background-color: #eaeef3;

    color: $light-text;
    color: $darkest-blue;
}

.section--light {
  background-color: $light-colour;
  @include light-scheme;
  color: $darkest-blue;
}
.subsection--double-column {
  @extend .grid-content-area;
//  @include g;
}

.text-image {
  @extend .grid-content-area;
  @include flex(space-around);
}

.gradient-divider {
  @include grid;
  width: 100%;
}
.gradient-divider--dark-light {
  grid-column: span 12;
  grid-row: span 11;
  background: rgb(14,27,69);
background: linear-gradient(180deg, rgba($dark-shade,1) 0%, rgba($dark-shade,1) 5%, rgba($light-colour,1) 95%, rgba($light-colour,1) 100%);
}
